{% extends 'base.html.twig' %}
 {% block title%} Liste des Employes par salaire{% endblock %}
  {% block body %} {{ form_start(form) }}
   <div class="form-row align-items-end" >
    <div class="col"> {{ form_row(form.minSalaire) }} </div>
     <div class="col"> {{ form_row(form.maxSalaire) }} </div>
      <div class="col"> <div class="form-group">
       <button type="submit" class="btn btn-success">Rechercher</button> </div> </div> </div>
        {{ form_end(form) }} {% if employes %}
         <table id="employes" class="table table-striped">
          <thead> <tr>
          
          <th>Cin</th>
           <th>Nom</th>
           <th>Prenom</th>
           <th>Fonction</th>
           <th>Direction</th>
           <th>Salaire</th>
           <th>Telephone</th>
           <th>Email</th>
              
               </tr> </thead> 
          <tbody> {% for employe in employes %}


           <tr> <td>{{ employe.Cin }}</td>
      <td>{{ employe.Nom }}</td>
      <td>{{ employe.Prenom}}</td> 
      <td>{{ employe.Fonction}}</td> 
      <td>{{ employe.Direction}}</td> 
      <td>{{ employe.Salaire}}</td> 
      <td>{{ employe.Telephone}}</td> 
       <td>{{ employe.Email}}</td> 



             <td><a href="/employe/show/{{ employe.id }}" class="btn btn-warning">Détails</a>
      <a href="/employe/edit/{{ employe.id }}" class="btn btn-success">Modifier</a>
      <a href="/employe/delete/{{ employe.id }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de supprimer cette employe ?');">Supprimer</a>
     </td> </tr> {% endfor %} </tbody> </table> {% else %} <p>Aucun employes</p> {% endif %} {% endblock %}